<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <script defer src="{{ '/assets/fontawesome/brands.min.js' | url }}"></script>
    <script defer src="{{ '/assets/fontawesome/solid.min.js' | url }}"></script>
    <script defer src="{{ '/assets/fontawesome/fontawesome.min.js' | url }}"></script>
  </head>
  <body>
    <header class="banner">
      <a class="logo" href="/">
        <i class="fas fa-box-open fa-rotate-by" style="--fa-rotate-angle: 140deg;"></i>
        <span>The Empty Box</span>
      </a>
      <nav class="navbar">
        <ul class="navmenu">
          {# <li><a href="{{ '/' | url }}">Home</a></li> #}
          <li><a href="{{ '/about' | url }}">About</a></li>
          <li><a href="{{ '/blog' | url }}">Blog</a></li>
        </ul>
        <a class="nav-buy-btn" href="/#tier-buy">Buy Now</a>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p class="copyright">&copy; 2023 The Empty Box</p>
      <ul class="footer-nav">
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </footer>
  </body>
</html>
