{% if tiers.length %}
	<ul class="tier-list">
		{% for tier in tiers %}
		<li class="tier-item">
			<h3>{{ tier.product.name }}</h3>
			<img
				src="{{ tier.product.images }}"
				srcset="{{ tier.product.images }}"
				alt="{{ tier.product.name }}">
			<p>{{ tier.product.description }}</p>
			<p>{{ tier.unit_amount | centsToDollars }} {{ tier.currency.toUpperCase() }}</p>
			<form action="/.netlify/functions/create-checkout-session" method="POST">
				<input 
					class="hidden"
					type="hidden"
					value="{{ tier.id }}"
					name="tierId"
				/>
				<button type="submit" role="link">Buy Now</b>
			</form>
		</li>
		{% endfor %}
	</ul>
{% endif %}