body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.banner {
  display: flex;
  flex-direction: column;
}

.banner .logo {
  margin: 1rem;
  font-size: 1.6em;
  font-weight: 800;
  color: var(--color-secondary);
  text-align: center;
  text-decoration: none;
}

.banner .logo span {
  margin-left: 0.4rem;
}

.banner .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.banner .navbar .navmenu {
  display: flex;
  width: 60%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner .navbar .navmenu li {
  margin-right: 1.5rem;
}

.banner .navbar .navmenu li:last-child {
  margin-right: 0;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section {
  margin: 1rem 1.5rem;
}

footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 1rem;
  font-size: 0.8em;
}

footer .copyright {
  margin: 0 1rem 0.25rem;
}

footer .footer-nav {
  margin: 0.25rem 1rem 2rem;
  padding: 0;
  list-style: none;
}

footer .footer-nav li {
  margin: 0.25rem 0;
}

footer .footer-nav li:last-child {
  margin: 0;
}
