---
layout: base.njk
title: The Empty Box
---

<section class="hero">
	<div class="hero-container">
		<div class="hero-content">
			<h1 class="hero-title">Emptiness is fulfilling</h1>
			<p class="hero-description">
				Consumption drives our economy. What if you could buy <span class="emphasis">nothing</span>?
			</p>
		</div>
		<div class="hero-image-container">
			<img
			class="hero-image"
			src="https://via.placeholder.com/250"
			alt="A photo of an empty box."
			/>
		</div>
	</div>
</section>
<section class="description">
	<h2 class="description-title">A box full of nothing delivered to you digitally</h2>
	<p class="description-text">
		All the joy of buying something with no more clutter, no more waste, no more guilt. Just an empty box.
	</p>
</section>
<section class="feature-list">
	<h2>Features</h2>
	<div class="features">
		{% for feature in features %}
		<div class="feature">
			<h3>{{ feature.title }}</h3>
			<p>{{ feature.description }}</p>
		</div>
		{% endfor %}
	</div>
</section>
<section id="tier-buy">
	<h2 class="tier-buy-title">Buy an empty box today</h2>
	<div class="tier-buy-items">
		{% for tier in tiers %}
		<div class="tier-item">
			<h3>{{ tier.name }}</h3>
			<img src="{{ tier.imageUrl | url }}" alt="{{ tier.name }}">
			<p class="tier-description">{{ tier.description }}</p>
			<p>{{ tier.price }}</p>
			<button class="tier-buy-btn" href="{{ tier.url  | url }}">Buy Now</b>
		</div>
		{% endfor %}
	</div>
</section>